<section class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Crea una cuenta</h2>

              <form [formGroup]="registerForm" (ngSubmit)="register()">

                <div class="form-outline mb-4">
                  <input formControlName="nombre_Usuario" type="text" id="form3Example1cg"
                         class="form-control form-control-lg"/>
                  <label class="form-label" for="form3Example1cg">Tu nombre de usuario</label>
                  @if (username.invalid && (username.dirty || username.touched)) {
                    <div class="text-danger">
                      @if (username.errors?.['required']) {
                        <div>
                          El nombre de usuario es requerido.
                        </div>
                      }
                      @if (username.errors?.['minlength']) {
                        <div>
                          El nombre de usuario debe tener al menos 5 caracteres.
                        </div>
                      }
                    </div>
                  }
                </div>

                <div class="form-outline mb-4">
                  <input formControlName="correo" type="email" id="form3Example3cg"
                         class="form-control form-control-lg"/>
                  <label class="form-label" for="form3Example3cg">Tu correo</label>
                  @if (email.invalid && (email.dirty || email.touched)) {
                    <div class="text-danger">
                      @if (email.errors?.['required']) {
                        <div>
                          El correo es requerido.
                        </div>
                      }
                      @if (email.errors?.['email']) {
                        <div>
                          El correo debe tener un formato válido.
                        </div>
                      }
                    </div>
                  }
                </div>

                <div class="form-outline mb-4">
                  <input formControlName="clave" type="password" id="form3Example4cg"
                         class="form-control form-control-lg"/>
                  <label class="form-label" for="form3Example4cg">Contraseña</label>
                  @if (password.invalid && (password.dirty || password.touched)) {
                    <div class="text-danger">
                      @if (password.errors?.['required']) {
                        <div>
                          La contraseña es requerida.
                        </div>
                      }
                      @if (password.errors?.['minlength']) {
                        <div>
                          La contraseña debe tener al menos 5 caracteres.
                        </div>
                      }
                    </div>
                  }
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register
                  </button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a routerLink="/login"
                                                                                        class="fw-bold text-body"><u>Login
                                                                                                                     here</u></a>
                </p>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
